doctype html
html
  head
    meta(charset='UTF-8')
    title webpack-livescript-stylus-pug skeleton
    link(href='https://fonts.googleapis.com/css?family=Teko',rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Adamina',rel='stylesheet')

  body
    div.main-container
      h1 webpack-livescript-stylus-pug skeleton

      div.js-notice
        p Waiting for JS...

      div.msg(style='display: none')
        p.wishing Happy hacking 😉.

    div.main-container.test-snd-pg-link
      a.second-page-test(href='./second.html') other page
