color-basic = #eef

body
  background-color #aab
  color color-basic
  font-size 125%
  font-family: 'Adamina', serif

h1
  font-family 'Teko', sans-serif

a
  color color-basic

.main-container
  background-color #000
  padding .5em 2em
  max-width 500px
  margin 2em auto
  box-shadow: 5px 5px 0px 0 #0007

@import "./test.styl"
